/* Reset */
body {
    margin: 0;
    font-family: Arial;
}

/* Background mờ */
body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("images/anh4.jpg") no-repeat center;
    background-size: cover;
    filter: blur(6px);
    z-index: -1;
}

/* Header */
header {
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
}

header h1 {
    font-size: 50px;
    color: white;
}

/* Menu */
nav {
    background: #333;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Nội dung */
section {
    background: rgba(255,255,255,0.9);
    margin: 30px;
    padding: 25px;
    border-radius: 10px;
}

/* Bảng */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

/* Ảnh */
img {
    width: 300px;
}
/* THANH ĐEN */
.navbar {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

/* LOGO */
.logo {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    color: #FFD700;
    text-shadow: 2px 2px 5px black;
}

/* MENU */
.menu a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* HOVER */
.menu a:hover {
    color: #00ffff;
}